body {
  font-family: "Soleil", Helvetica, Arial, sans-serif;
}

body section.sec1 {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: blue;
}
