body{
  font-family: "Soleil", Helvetica, Arial, sans-serif;

  section.sec4 {
      margin: 0;
      padding: 0;
      display:flex;
      flex-direction: column;
      align-items: center;
      font-size: 2.2vw;
      img {
        margin: 8vw 0;
      }
      p {
        margin:0;
        font-size: 1.8vw;
      }

    }

}
