* {
  /* A basic css reset */
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

nav {
  background: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  height: 10vw;
  width: 100%;
}

nav .tobut {
  color: green;
  border: 2px solid green;
  background: white;
  padding: 0.7vw 3vw;
  margin: 0% 2%;
  font-size: 1vw;
}

nav .tobut:hover {
  color: lightgreen;
  border: 2px solid lightgreen;
}

nav a:first-of-type {
  margin-left: 5vw;
}

nav a {
  font-size: 1vw;
  color: black;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  padding: 1.5vw 1.4vw;
  text-decoration: none;
}

nav a img {
  width: 15vw;
}

nav .toSpace {
  flex-grow: 1;
}

nav a:hover {
  color: rgba(26, 128, 0, 0.89);
}

.sec2 {
  width: 100%;
  height: 55vw;
  background-image: url(../images/sec2.png);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.sec2 div:nth-of-type(1) {
  width: 100%;
  height: 50%;
  margin: 0% 5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  overflow: hidden;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.sec2 div:nth-of-type(1) p:nth-of-type(1) {
  font-size: 4vw;
  font-weight: bold;
}

.sec2 div:nth-of-type(1) p:nth-of-type(2) {
  font-size: 2vw;
}

.sec2 div:nth-of-type(1) button {
  color: green;
  background: white;
  font-weight: bold;
  padding: 1.4vw 3.2vw;
  font-size: 1.2vw;
  border-radius: 12px;
  border: none;
}

.sec2 div:nth-of-type(2) {
  width: 100%;
  height: 40%;
  margin: 0% 5vw;
  background: url(../images/sec2laptop.png) no-repeat;
  background-size: 100% 100%;
}

.sec3 {
  width: 100%;
  height: 45vw;
  background: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.sec3 div:nth-of-type(1) {
  width: 100%;
  height: 50%;
  margin: 0% 5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  overflow: hidden;
  color: black;
  font-family: 'Montserrat', sans-serif;
}

.sec3 div:nth-of-type(1) p:nth-of-type(1) {
  font-size: 4vw;
  font-weight: bold;
}

.sec3 div:nth-of-type(1) p:nth-of-type(2) {
  font-size: 2vw;
}

.sec3 div:nth-of-type(1) button {
  color: white;
  background: green;
  font-weight: bold;
  padding: 1.4vw 3.2vw;
  font-size: 1.2vw;
  border-radius: 12px;
  border: none;
}

.sec3 div:nth-of-type(2) {
  width: 100%;
  height: 40%;
  margin: 0% 5vw;
  background: url(../images/sec3img40.png) no-repeat;
  background-size: 100% 100%;
}

.sec4 {
  width: 100%;
  height: 60vw;
  background: #f7f7f7;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.sec4 div:nth-of-type(1) {
  width: 10%;
  height: 30%;
  margin: 4vw 5vw 0% 5vw;
  background: url(../images/sec4img.png) no-repeat;
  background-size: 100% 100%;
}

.sec4 div:nth-of-type(2) {
  margin-top: 7vw;
  margin-bottom: 7vw;
}

.sec4 div:nth-of-type(2) p:nth-of-type(1) {
  font-size: 3.5vw;
  font-weight: bold;
}

.sec4 div:nth-of-type(3) {
  width: 100%;
  height: 50%;
  margin: 0% 5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}

.sec4 div:nth-of-type(3) p {
  color: #888b8d;
  font-size: 2.5vw;
  margin-right: 3vw;
  margin-left: 3vw;
}

@keyframes rotateText {
  0% {
    opacity: 0;
  }
  8% {
    opacity: 1;
  }
  16% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes rotateText2 {
  0% {
    opacity: 0.3;
  }
  8% {
    opacity: 1;
  }
  16% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.3;
  }
}

body {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
}

body section.sec44 {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2.2vw;
}

body section.sec44 > img {
  margin: 8vw 0;
  width: 5%;
  height: auto;
}

body section.sec44 > p {
  margin: 0;
  font-size: 1.7vw;
  font-weight: 700;
}

@media only screen and (max-width: 735px) {
  body section.sec44 {
    font-size: 4.84vw;
    text-align: center;
  }
  body section.sec44 > img {
    width: 18%;
  }
  body section.sec44 > p {
    font-size: 3.74vw;
    margin: 5vw 0;
  }
}

body section.sec44 > div.sec4sub1 {
  display: flex;
  margin-top: 14vw;
}

@media only screen and (max-width: 735px) {
  body section.sec44 > div.sec4sub1 {
    flex-direction: column-reverse;
  }
}

body section.sec44 > div.sec4sub1 > div:first-of-type {
  margin-right: 20vw;
  margin-left: 5vw;
}

@media only screen and (max-width: 735px) {
  body section.sec44 > div.sec4sub1 > div:first-of-type {
    margin: 0 5vw;
    text-align: left;
  }
}

body section.sec44 > div.sec4sub1 > div:first-of-type h3, body section.sec44 > div.sec4sub1 > div:first-of-type a {
  color: #00a82d;
}

body section.sec44 > div.sec4sub1 > div:first-of-type h3 {
  font-size: 2.8vw;
  font-weight: 700;
}

@media only screen and (max-width: 735px) {
  body section.sec44 > div.sec4sub1 > div:first-of-type h3 {
    font-size: 8.4vw;
  }
}

body section.sec44 > div.sec4sub1 > div:first-of-type p {
  font-size: 1.5vw;
  font-weight: 700;
}

@media only screen and (max-width: 735px) {
  body section.sec44 > div.sec4sub1 > div:first-of-type p {
    font-size: 3.3vw;
    font-weight: 500;
  }
}

body section.sec44 > div.sec4sub1 > div:first-of-type a {
  text-decoration: none;
  font-size: 1.2vw;
  font-weight: 800;
  margin-top: 3vw;
}

@media only screen and (max-width: 735px) {
  body section.sec44 > div.sec4sub1 > div:first-of-type a {
    font-size: 2.64vw;
  }
}

body section.sec44 > div.sec4sub1 > div:last-of-type {
  margin-right: 15vw;
}

@media only screen and (max-width: 735px) {
  body section.sec44 > div.sec4sub1 > div:last-of-type {
    margin: 0;
  }
}

body section.sec44 > div.sec4sub2 {
  display: flex;
  margin-top: 14vw;
}

@media only screen and (max-width: 735px) {
  body section.sec44 > div.sec4sub2 {
    flex-direction: column;
  }
}

body section.sec44 > div.sec4sub2 > div:first-of-type {
  margin-left: 13vw;
}

@media only screen and (max-width: 735px) {
  body section.sec44 > div.sec4sub2 > div:first-of-type {
    margin: 0;
  }
}

body section.sec44 > div.sec4sub2 > div:last-of-type {
  margin-left: 13vw;
  margin-right: 4vw;
}

body section.sec44 > div.sec4sub2 > div:last-of-type h3, body section.sec44 > div.sec4sub2 > div:last-of-type a {
  color: #00a82d;
}

body section.sec44 > div.sec4sub2 > div:last-of-type h3 {
  font-size: 2.8vw;
  font-weight: 700;
}

body section.sec44 > div.sec4sub2 > div:last-of-type p {
  font-size: 1.5vw;
  font-weight: 700;
}

body section.sec44 > div.sec4sub2 > div:last-of-type a {
  text-decoration: none;
  font-size: 1.2vw;
  font-weight: 800;
  margin-top: 3vw;
}

@media only screen and (max-width: 735px) {
  body section.sec44 > div.sec4sub2 > div:last-of-type {
    margin: 0 5vw;
    text-align: left;
  }
  body section.sec44 > div.sec4sub2 > div:last-of-type h3 {
    font-size: 8.24vw;
  }
  body section.sec44 > div.sec4sub2 > div:last-of-type p {
    font-size: 3.3vw;
    font-weight: 500;
  }
  body section.sec44 > div.sec4sub2 > div:last-of-type a {
    font-size: 2.64vw;
  }
}

body section.sec44 > div.sec4sub3 {
  display: flex;
  margin: 14vw 0;
}

@media only screen and (max-width: 735px) {
  body section.sec44 > div.sec4sub3 {
    flex-direction: column-reverse;
  }
}

body section.sec44 > div.sec4sub3 > div:first-of-type {
  margin-right: 20vw;
  margin-left: 5vw;
}

@media only screen and (max-width: 735px) {
  body section.sec44 > div.sec4sub3 > div:first-of-type {
    margin: 0 5vw;
    text-align: left;
  }
}

body section.sec44 > div.sec4sub3 > div:first-of-type h3, body section.sec44 > div.sec4sub3 > div:first-of-type a {
  color: #00a82d;
}

body section.sec44 > div.sec4sub3 > div:first-of-type h3 {
  font-size: 2.8vw;
  font-weight: 700;
}

@media only screen and (max-width: 735px) {
  body section.sec44 > div.sec4sub3 > div:first-of-type h3 {
    font-size: 8.4vw;
  }
}

body section.sec44 > div.sec4sub3 > div:first-of-type p {
  font-size: 1.5vw;
  font-weight: 700;
}

@media only screen and (max-width: 735px) {
  body section.sec44 > div.sec4sub3 > div:first-of-type p {
    font-size: 3.3vw;
    font-weight: 500;
  }
}

body section.sec44 > div.sec4sub3 > div:first-of-type a {
  text-decoration: none;
  font-size: 1.2vw;
  font-weight: 800;
  margin-top: 3vw;
}

@media only screen and (max-width: 735px) {
  body section.sec44 > div.sec4sub3 > div:first-of-type a {
    font-size: 2.64vw;
  }
}

body section.sec44 > div.sec4sub3 > div:last-of-type {
  margin-right: 15vw;
}

body section.sec44 > div.sec4sub4 {
  background: #00a82d;
  border-radius: 5%;
  padding: 1.5vw 1.5vw;
  transition: background-color 0.5s;
}

@media only screen and (max-width: 735px) {
  body section.sec44 > div.sec4sub4 {
    width: 90%;
    padding: 3.7vw 1.5vw;
  }
}

body section.sec44 > div.sec4sub4 a {
  vertical-align: middle;
  text-decoration: none;
  color: white;
  font-size: 1.4vw;
  font-weight: 900;
}

@media only screen and (max-width: 735px) {
  body section.sec44 > div.sec4sub4 a {
    font-size: 3vw;
  }
}

body section.sec44 > div.sec4sub4:hover {
  cursor: pointer;
  background-color: #00c234;
}

body section.sec5 {
  margin-top: 10vw;
  margin-bottom: 30vw;
}

body section.sec5 div.sec5sub1 img {
  width: 2%;
  display: block;
  margin: 0 auto;
}

@media only screen and (max-width: 735px) {
  body section.sec5 div.sec5sub1 img {
    width: 5%;
    margin-bottom: 16vw;
  }
}

body section.sec5 div.sec5sub2 {
  margin: 0 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body section.sec5 div.sec5sub2 > img {
  opacity: 0.3;
}

@media only screen and (max-width: 735px) {
  body section.sec5 div.sec5sub2 > img {
    width: 20%;
    position: absolute;
    margin-left: 35%;
    opacity: 0;
  }
}

body section.sec5 div.sec5sub2 > img:nth-of-type(1) {
  animation: rotateText2 30s linear infinite;
}

@media only screen and (max-width: 735px) {
  body section.sec5 div.sec5sub2 > img:nth-of-type(1) {
    animation: rotateText 30s linear infinite;
  }
}

body section.sec5 div.sec5sub2 > img:nth-of-type(2) {
  animation: rotateText2 30s linear infinite;
  animation-delay: 5s;
}

@media only screen and (max-width: 735px) {
  body section.sec5 div.sec5sub2 > img:nth-of-type(2) {
    animation: rotateText 30s linear infinite;
    animation-delay: 5s;
  }
}

body section.sec5 div.sec5sub2 > img:nth-of-type(3) {
  animation: rotateText2 30s linear infinite;
  animation-delay: 10s;
}

@media only screen and (max-width: 735px) {
  body section.sec5 div.sec5sub2 > img:nth-of-type(3) {
    animation: rotateText 30s linear infinite;
    animation-delay: 10s;
  }
}

body section.sec5 div.sec5sub2 > img:nth-of-type(4) {
  animation: rotateText2 30s linear infinite;
  animation-delay: 15s;
}

@media only screen and (max-width: 735px) {
  body section.sec5 div.sec5sub2 > img:nth-of-type(4) {
    animation: rotateText 30s linear infinite;
    animation-delay: 15s;
  }
}

body section.sec5 div.sec5sub2 > img:nth-of-type(5) {
  animation: rotateText2 30s linear infinite;
  animation-delay: 20s;
}

@media only screen and (max-width: 735px) {
  body section.sec5 div.sec5sub2 > img:nth-of-type(5) {
    animation: rotateText 30s linear infinite;
    animation-delay: 20s;
  }
}

body section.sec5 div.sec5sub2 > img:nth-of-type(6) {
  animation: rotateText2 30s linear infinite;
  animation-delay: 25s;
}

@media only screen and (max-width: 735px) {
  body section.sec5 div.sec5sub2 > img:nth-of-type(6) {
    animation: rotateText 30s linear infinite;
    animation-delay: 25s;
  }
}

body section.sec5 div.sec5sub3 {
  margin-top: 5vw;
  text-align: center;
}

body section.sec5 div.sec5sub3 > p {
  position: absolute;
  font-size: 2vw;
  opacity: 0;
  padding: 0 12vw;
}

body section.sec5 div.sec5sub3 > p:nth-of-type(1) {
  animation: rotateText 30s linear infinite;
}

body section.sec5 div.sec5sub3 > p:nth-of-type(2) {
  animation: rotateText 30s linear infinite;
  animation-delay: 5s;
}

body section.sec5 div.sec5sub3 > p:nth-of-type(3) {
  animation: rotateText 30s linear infinite;
  animation-delay: 10s;
}

body section.sec5 div.sec5sub3 > p:nth-of-type(4) {
  animation: rotateText 30s linear infinite;
  animation-delay: 15s;
}

body section.sec5 div.sec5sub3 > p:nth-of-type(5) {
  animation: rotateText 30s linear infinite;
  animation-delay: 20s;
}

body section.sec5 div.sec5sub3 > p:nth-of-type(6) {
  animation: rotateText 30s linear infinite;
  animation-delay: 25s;
}

body section.sec8 {
  background: #00a82d;
  color: #fff;
  display: flex;
  height: 40vw;
  padding: 10vw 3vw 10vw 7vw;
  align-items: center;
}

body section.sec8 > div:first-of-type {
  flex-grow: 1.6;
  padding-right: 15vw;
}

body section.sec8 > div:first-of-type > h3 {
  font-size: 3.2vw;
  font-weight: 700;
}

body section.sec8 > div:first-of-type > p {
  font-size: 1.8vw;
  font-weight: 300;
}

body section.sec8 > div:last-of-type {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: space-between;
  text-align: center;
}

body section.sec8 > div:last-of-type > a:first-of-type {
  text-align: left;
  align-self: center;
  text-decoration: none;
  border-radius: 5%;
  font-size: 1.3vw;
  padding: 1vw 2.5vw 1vw 1.5vw;
  background: #fff;
  color: #000;
}

body section.sec8 > div:last-of-type > a:first-of-type > img {
  width: 5%;
}

body section.sec8 > div:last-of-type > p {
  font-size: 2vw;
  margin: 2vw 0;
}

body section.sec8 > div:last-of-type > input {
  font-size: 1.6vw;
  color: rgba(0, 0, 0, 0.4);
  padding: 1vw 0.3vw 1vw 2vw;
  border-radius: 5%;
  width: 90%;
}

body section.sec8 > div:last-of-type > p:last-of-type {
  font-size: 0.9vw;
  text-align: left;
}

body section.sec8 > div:last-of-type > p:last-of-type > a {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
}

body section.sec8 > div:last-of-type > a:last-of-type {
  width: 80%;
  text-align: center;
  align-self: center;
  text-decoration: none;
  border-radius: 5%;
  font-size: 1.2vw;
  font-weight: 900;
  padding: 1.5vw 2.5vw;
  background: #fff;
  color: #00a82d;
}

body section.sec9 {
  display: flex;
  flex-direction: column;
  margin-bottom: 8vw;
}

body section.sec9 > div.logo {
  margin: 5vw auto;
  width: 88%;
  border-bottom: 4px solid black;
}

body section.sec9 > div.logo > img {
  width: 15vw;
}

body section.sec9 div.sec9container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  padding: 0 5% 0 10%;
}

body section.sec9 div.sec9container > div {
  flex-grow: 1.2;
}

body section.sec9 div.sec9container > div > a {
  text-decoration: none;
}

body section.sec9 div.sec9container > div > h4 {
  margin-bottom: 1vw;
  font-size: 1.1vw;
  font-weight: 900;
}

body section.sec9 div.sec9container > div > li {
  list-style-type: none;
  font-size: 0.9vw;
  margin-bottom: 2vw;
}

body section.sec9 div.sec9container > div > li > a {
  text-decoration: none;
  color: #000;
}

body section.sec9 div.sec9container > div > li > a:hover {
  color: #00a82d;
}

body section.sec9 div.sec9container > div:last-of-type {
  display: flex;
  justify-content: space-between;
  flex-grow: 1.5;
  align-items: baseline;
  padding: 0 3vw;
}

body section.sec9 div.sec9container > div:last-of-type > a {
  font-size: 1vw;
  font-weight: 700;
}

body section.sec9 div.sec9container > div:last-of-type > a.tobut {
  color: #00a82d;
  border: 2px solid #00a82d;
  background-color: #fff;
  padding: 0.7vw 3vw;
  margin: 0% 2%;
  font-size: 1vw;
  transition-duration: 0.4s;
}

body section.sec9 div.sec9container > div:last-of-type > a.tobut:hover {
  color: #fff;
  background-color: #00a82d;
}
