body {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
}

body section.sec4 {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2.2vw;
}

body section.sec4 > img {
  margin: 8vw 0;
}

body section.sec4 > p {
  margin: 0;
  font-size: 1.7vw;
  font-weight: 700;
}

body section.sec4 > div.sec4sub1 {
  display: flex;
  margin-top: 14vw;
}

body section.sec4 > div.sec4sub1 > div:first-of-type {
  margin-right: 20vw;
  margin-left: 5vw;
}

body section.sec4 > div.sec4sub1 > div:first-of-type h3, body section.sec4 > div.sec4sub1 > div:first-of-type a {
  color: #00a82d;
}

body section.sec4 > div.sec4sub1 > div:first-of-type h3 {
  font-size: 2.8vw;
  font-weight: 700;
}

body section.sec4 > div.sec4sub1 > div:first-of-type p {
  font-size: 1.5vw;
  font-weight: 700;
}

body section.sec4 > div.sec4sub1 > div:first-of-type a {
  text-decoration: none;
  font-size: 1.2vw;
  font-weight: 800;
  margin-top: 3vw;
}

body section.sec4 > div.sec4sub1 > div:last-of-type {
  margin-right: 15vw;
}

body section.sec4 > div.sec4sub2 {
  display: flex;
  margin-top: 14vw;
}

body section.sec4 > div.sec4sub2 > div:first-of-type {
  margin-left: 13vw;
}

body section.sec4 > div.sec4sub2 > div:last-of-type {
  margin-left: 13vw;
  margin-right: 4vw;
}

body section.sec4 > div.sec4sub2 > div:last-of-type h3, body section.sec4 > div.sec4sub2 > div:last-of-type a {
  color: #00a82d;
}

body section.sec4 > div.sec4sub2 > div:last-of-type h3 {
  font-size: 2.8vw;
  font-weight: 700;
}

body section.sec4 > div.sec4sub2 > div:last-of-type p {
  font-size: 1.5vw;
  font-weight: 700;
}

body section.sec4 > div.sec4sub2 > div:last-of-type a {
  text-decoration: none;
  font-size: 1.2vw;
  font-weight: 800;
  margin-top: 3vw;
}

body section.sec4 > div.sec4sub3 {
  display: flex;
  margin-top: 14vw;
}

body section.sec4 > div.sec4sub3 > div:first-of-type {
  margin-right: 20vw;
  margin-left: 5vw;
}

body section.sec4 > div.sec4sub3 > div:first-of-type h3, body section.sec4 > div.sec4sub3 > div:first-of-type a {
  color: #00a82d;
}

body section.sec4 > div.sec4sub3 > div:first-of-type h3 {
  font-size: 2.8vw;
  font-weight: 700;
}

body section.sec4 > div.sec4sub3 > div:first-of-type p {
  font-size: 1.5vw;
  font-weight: 700;
}

body section.sec4 > div.sec4sub3 > div:first-of-type a {
  text-decoration: none;
  font-size: 1.2vw;
  font-weight: 800;
  margin-top: 3vw;
}

body section.sec4 > div.sec4sub3 > div:last-of-type {
  margin-right: 15vw;
}

body section.sec4 > div.sec4sub4 {
  margin-top: 10vw;
  background: #00a82d;
  border-radius: 5%;
  padding: 0.7vw 1.5vw;
  transition: background-color 0.5s;
}

body section.sec4 > div.sec4sub4 a {
  vertical-align: middle;
  text-decoration: none;
  color: white;
  font-size: 1.1vw;
  font-weight: 900;
}

body section.sec4 > div.sec4sub4:hover {
  cursor: pointer;
  background-color: #00c234;
}

body section.sec5 {
  margin-top: 20vw;
}

body section.sec5 div.sec5sub1 {
  margin-bottom: 5vw;
}

body section.sec5 div.sec5sub1 img {
  display: block;
  margin: 0 auto;
}

body section.sec5 div.sec5sub2 {
  margin: 0 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vw;
}

body section.sec5 div.sec5sub2 > img:nth-of-type(2) {
  height: 40%;
}
